<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Form</title>
    </head>
    <body>
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #26d0c9;">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Lab 4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-link" href="/lab-4">Table</a>
                    <a class="nav-link" href="note-list">Cards</a>
                    <a class="nav-link active" aria-current="page" href="add-note">Form</a>
                  </div>
                </div>
              </div>
            </nav>
        </div>
        <div class="content">
            <div class="form-group" >
                <form action="" method="POST">
                {% csrf_token %}
                <label>
                    To:
                </label>
                {{ form.note_to }}

                <label>
                    From:
                </label>
                {{ form.note_from }}

                <label>
                    Title:
                </label>

                {{ form.note_title }}

                <label>
                    Message:
                </label>

                {{ form.note_message }}
                <input class="btn btn-primary" type="submit" value="SUBMIT"/>

            </form>
            </div>
        </div>



    </body>
</html>