<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 4</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
    table, th, td {
        border: 1px solid;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #26d0c9;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Lab 4</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/lab-4">Table</a>
                <a class="nav-link" href="note-list">Cards</a>
                <a class="nav-link" href="add-note">Form</a>
              </div>
            </div>
          </div>
        </nav>
    </div>
    <div class="content">
      <table class="table">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop from Friend model -->
        {% for note in notes %}
        <tr>

          <td>{{ note.note_to }}</td>
          <td>{{ note.note_from }}</td>
          <td>{{ note.note_title }} </td>
          <td>{{ note.note_message }}</td>

        </tr>
        {% endfor %}
      </table>
    </div>

  </body>
</html>
