<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 2</title>
    <style>
    table, th, td {
        border: 1px solid cyan;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for note in notes %}
      <tr>

        <td>{{ note.note_to }}</td>
        <td>{{ note.note_from }}</td>
        <td>{{ note.note_title }} </td>
        <td>{{ note.note_message }}</td>

      </tr>
      {% endfor %}
    </table>
  </body>
</html>
